$color-primary: rgb(39, 81, 211);
$color-primary-90: rgba(39, 81, 211, 0.9);
$color-primary-60: rgba(39, 81, 211, 0.6);
$color-primary-30: rgba(39, 81, 211, 0.3);

$color-black: hsl(240,27%,12%);
$color-black-90: hsla(240,27%,12%,.9);
$color-black-60: hsla(240,27%,12%,.6);
$color-black-30: hsla(240,27%,12%,.3);
$color-black-10: hsla(240,27%,12%,.04);

$color-white: rgb(231, 232, 249);
$color-background: hsl(0,0%,99%);
